<!-- used for alum list pages -->
{{ $baseurl := .Site.BaseURL }}
<div class="row">
    {{$paginator:= .Paginate (where .Data.Pages "Section" "album") }}
    {{range $index, $page := $paginator.Pages}}
    {{ if and (modBool $index 3) (ne 0 $index) }}
</div>
<div class="row">
    {{ end }}
    {{ $m := (mod $index 4) }}
    {{ if eq $m 0 }}
    {{ .Scratch.Set "color" "blue-grey darken-3" }}
    {{ else if eq $m 1 }}
    {{ .Scratch.Set "color" "blue-grey darken-4" }}
    {{ else if eq $m 2 }}
    {{ .Scratch.Set "color" "grey darken-3" }}
    {{ else if eq $m 3 }}
    {{ .Scratch.Set "color" "grey darken-4" }}
    {{end}}
    <div class="col m4 s12">
        <div class="card hoverable {{.Scratch.Get "color"}} z-depth-5">
            <div class="card-image" >
                <a href="{{ .Permalink }}"> <img src="{{.Params.image_path}}"> </a>
                <span class="card-title white-text album">{{ .Title }}</span>
            </div>
        </div>
    </div>
        {{ end }}
</div>
