{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12">
        <div class="card-panel grey darken-2 z-depth-3" itemscope itemtype="http://schema.org/Article">
            <!-- {{ partial "breadcrumbs" . }} -->
            <span itemprop="headline"><h3 class="white-text" itemprop="name" >{{ .Title }}</h3></span>
          <p>
          {{if .Params.categories }}
            {{ range $index, $category := .Params.categories }}
              <a href="{{$baseurl}}/categories/{{ $category | urlize }}/">{{ $category }} |</a>
            {{ end }}
          {{end}}
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_sharing_toolbox"></div>
          </p>
          <span itemprop="articleBody"><p>{{ .Content }}</p></span>
          <p><span itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 Jan 2006" }}</span>
            {{if .Params.tags }}
              {{ range $index, $tag := .Params.tags }}
                <a href="{{$baseurl}}/tags/{{ $tag | urlize }}/">#{{ $tag }}</a>
              {{ end }}
            {{end}}
          </p>
          {{ with .Site.DisqusShortname }}
            {{ partial "disqus.html" . }}
          {{ end }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s3 m1">
      {{if .Prev}}
        <a class="btn-floating btn-large waves-effect waves-light blue-grey darken-3" href="{{ .Prev.Permalink }}"><i class="material-icons">skip_previous</i></a>
      {{else}}
        <a class="btn-floating btn-large disabled grey lighten-1"><i class="material-icons">skip_previous</i></a>
      {{end}}
      </div>
      <div class="col s6 m10 center">&nbsp</div>
      <div class="col s3 m1">
      {{if .Next}}
        <a class="btn-floating btn-large waves-effect waves-light blue-grey darken-3" href="{{ .Next.Permalink }}"><i class="material-icons">skip_next</i></a>
      {{else}}
        <a class="btn-floating btn-large disabled grey lighten-1"><i class="material-icons">skip_next</i></a>
      {{end}}
      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
