/* Custom Stylesheet */

.header a {
    text-shadow: 3px 3px #ddd;
}

body {
    background: #757575;
}

.title_en {
    font-family: 'Indie Flower', cursive;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.card-title.white-text a {
    color: white;
}


/* expandable search box */

.top-search input[type=search] {
    width: 20px;
    color: transparent;
    cursor: pointer;
}

.top-search input[type=search]:hover {
    background-color: #fff;
}

.top-search input[type=search]:focus {
    width: 400px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}

.top-search input:-moz-placeholder {
    color: transparent;
}

.top-search input::-webkit-input-placeholder {
    color: transparent;
}

@media only screen and (max-width: 991px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 6%;
    }
    #title-sig {
        max-width: 260px;
    }
    .top-search {
        visibility: hidden;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 5%;
    }
    #nav-mobile i {
        font-size: 1.3rem;
    }
    #title-sig {
        max-width: 260px;
    }
}

.icon-block {
    padding: 0 15px;
}

footer.page-footer {
    margin: 0;
}

.footer-copyright .container {
    color: #000;
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}


/* @media only screen and (min-width: 992px) { */


/*     .card.med { */


/*         height: 500px; */


/*     } */


/*     .card-content.med { */


/*         height: 436px; */


/*     } */


/*     .card.album_cover{ */


/*     } */


/* } */
