{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}
<h5 class="breadcrumbs">
  <a href="/">Home</a>
  {{ range $index, $element := split $url "/" }}
    {{ $.Scratch.Add "path" $element }}
      {{ if ne $element "" }}
      >> <a href='{{ $.Scratch.Get "path" }}'>{{ . }}</a>
      {{ $.Scratch.Add "path" "/" }}
      {{ end }}
  {{ end }}
</h5>
