<!-- used for show content on list pages -->
{{ $baseurl := .Site.BaseURL }}
<div class="row">
    {{$paginator:= .Paginate (where .Data.Pages "Section" "post") }}
    {{range $index, $page := $paginator.Pages}}
    {{ if and (modBool $index 3) (ne 0 $index) }}
</div>
<div class="row">
    {{ end }}
    {{ $m := (mod $index 4) }}
    {{ if eq $m 0 }}
    {{ .Scratch.Set "color" "blue-grey darken-3" }}
    {{ else if eq $m 1 }}
    {{ .Scratch.Set "color" "blue-grey darken-4" }}
    {{ else if eq $m 2 }}
    {{ .Scratch.Set "color" "grey darken-3" }}
    {{ else if eq $m 3 }}
    {{ .Scratch.Set "color" "grey darken-4" }}
    {{end}}
    {{ $.Scratch.Set "has_image" false }}
    {{ with .Params.image_path }}
    {{ $.Scratch.Set "has_image" true }}
    {{end}}
    <div class="col m4 s12">
            {{ if $.Scratch.Get "has_image"}}
        <div class="card hoverable {{.Scratch.Get "color"}} z-depth-5">
            <div class="card-image" >
                <img src="{{.Params.image_path}}">
                <span class="card-title white-text">
                    <a href="{{ .Permalink }}">
                        {{ .Title }}
                    </a>
                </span>
            </div>
            <div class="card-content grey-text text-lighten-2">
                {{ else }}
        <div class="card hoverable {{.Scratch.Get "color"}} z-depth-5 med">
                <div class="card-content grey-text text-lighten-2 med">
                    <span class="card-title white-text">
                        <a href="{{ .Permalink }}">
                            {{ .Title }}
                        </a>
                    </span>
                    {{end}}
                    <p>
                    {{if .Params.categories }}
                    {{ range $index, $category := .Params.categories }}
                    <a href="{{$baseurl}}/categories/{{ $category | urlize }}/"> {{ $category }} </a>|
                    {{ end }}
                    {{end}}
                    </p>
                    <p>{{ .Summary }}</p>
                    <p> ...</p>
                    <p class="date">
                    {{ .Date.Format "2 Jan 2006" }}
                    {{if .Params.tags }}
                    {{ range $index, $tag := .Params.tags }}
                    <a href="{{$baseurl}}/tags/{{ $tag | urlize }}/">#{{ $tag }}</a>
                    {{ end }}
                    {{end}}
                    </p>
                </div>
                <div class="card-action">
                    <a class="blue-grey-text" href="{{ .Permalink }}">Read more ...</a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
