<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <a class="white-text" href="mailto:info@yulinling.net">{{.Site.Copyright}}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="white-text">Powered by <a class="white-text" href="http://gohugo.io/">Hugo</a></span>
        </div>
    </div>
</footer>

<script src="{{.Site.BaseURL}}/js/materialize.min.js"></script>
<script src="{{.Site.BaseURL}}/js/init.js"></script>
<script src="{{.Site.BaseURL}}/js/slider.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54dea7b540bf3bc4" async="async"></script>
{{with .Site.Params.googleAnalyticsUserID }}
<!-- Google analytics -->
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{.}}', 'auto');
    ga('send', 'pageview');
</script>
<!-- Google custom search -->
<script>
    (function() {
        var cx = '011573566236403611690:lsrcbc-89ks';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>
{{end}}
</body>

</html>
