<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>{{ .Title }}</title>
        <link href="{{.Site.BaseURL}}/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{.Site.BaseURL}}/css/themes/light/nanogallery_light.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
        <style type="text/css">
{{if .Site.Params.footerCover}}
footer.page-footer{background-image: url({{.Site.BaseURL}}/{{.Site.Params.footerCover}});}
{{else}}
footer.page-footer{background-image: url({{.Site.BaseURL}}/images/default.png);}
{{end}}
        </style>
        <link href="{{.Site.BaseURL}}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{{.Site.BaseURL}}/js/jquery.nanogallery.min.js"></script>
    </head>
    <body>
        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <h1 class="header center title_en"><a class="grey-text text-lighten-2" href="{{.Site.BaseURL}}">
                            <img id="title-sig" class="responsive-img" src="{{.Site.BaseURL}}/images/logo_w.png">
                            <br>
                            Yulinling</a>
                        </h1>
                        <div class="row center">
                            <h5 class="header col s12 light">{{.Site.Params.description}}</h5>
                        </div>
                        <div class="row center">
                            {{if .Site.Params.github}}
                            <a href="https://github.com/{{ .Site.Params.github }}"><img src="{{.Site.BaseURL}}/images/github2-dreamstale35.png"></a>
                            {{end}}
                            {{if .Site.Params.facebook}}
                            <a href="https://www.facebook.com/{{.Site.Params.facebook}}"><img src="{{.Site.BaseURL}}/images/facebook-dreamstale25.png"></a>
                            {{end}}
                            {{if .Site.Params.twitter}}
                            <a href="https://twitter.com/{{.Site.Params.twitter}}"><img src="{{.Site.BaseURL}}/images/twitter-dreamstale71.png"></a>
                            {{end}}
                            {{if .Site.Params.gplus}}
                            <a href="https://google.com/+{{.Site.Params.gplus}}"><img src="{{.Site.BaseURL}}/images/gplus48x48.png"></a>
                            {{end}}
                            <a href="{{.Site.BaseURL}}/index.xml"><img src="{{.Site.BaseURL}}/images/feed-dreamstale27.png"></a>
                        </div>
                </div>
            </div>
            <nav class="transparent">
                <div class="nav-wrapper">
                    <a href="#" data-activates="nav-mobile" class="button-collapse hide-on-med-and-up"><i class="material-icons md-light">menu</i></a>
                    <ul class="right hide-on-small-and-down">
                        <li>
                            <div class="top-search">
                                <form method="get" id="searchform" id="searchbox_011573566236403611690:lsrcbc-89ks" action="/search_result/search_result/index.html">
                                    <div class="input-field">
                                        <input value="011573566236403611690:lsrcbc-89ks" name="cx" type="hidden"/>
                                        <input type="search"  name="q" id="s" onfocus="defaultInput(this)" onblur="clearInput(this)" required>
                                        <label id="search-label" for="search"><i class="material-icons">search</i></label>
                                    </div>
                                </form>
                                <script type="text/javascript">
                                (function(window){

                                    // get vars
                                    var label = document.querySelector("#search-label");
                                    var box = document.querySelector("#s");

                                    // register clicks and toggle classes
                                    label.addEventListener("click",function(){
                                            box.focus();
                                    });

                                }(window));
                                </script>
                            </div>
                        </li>
                        <li><a class="tooltipped waves-effect waves-light white-text" data-position="top" data-delay="30" data-tooltip="Homepage." href="{{.Site.BaseURL}}"><i class="material-icons left">home</i>Home</a></li>
                        <li><a class="tooltipped waves-effect waves-light white-text" data-position="top" data-delay="30" data-tooltip="Blog posts about our lives." href="{{.Site.BaseURL}}/categories/blog"><i class="material-icons left">description</i>Blog</a></li>
                        <li><a class="tooltipped waves-effect waves-light white-text" data-position="top" data-delay="30" data-tooltip="Tech and work related notes." href="{{.Site.BaseURL}}/categories/ape-note"><i class="material-icons left">code</i>Tech Note</a></li>
                        <li><a class="tooltipped waves-effect waves-light white-text" data-position="top" data-delay="30" data-tooltip="Pics of our memory." href="{{.Site.BaseURL}}/album/"><i class="material-icons left">photo_album</i>Gallery</a></li>
                    </ul>
                    <ul class="side-nav grey lighten-2" id="nav-mobile">
                        <li><a class="waves-effect waves-light" href="{{.Site.BaseURL}}">Home</a></li>
                        <li><a class="waves-effect waves-light" href="{{.Site.BaseURL}}/categories/blog">Blog</a></li>
                        <li><a class="waves-effect waves-light" href="{{.Site.BaseURL}}/categories/ape-note">Tech Note</a></li>
                        <li><a class="waves-effect waves-light" href="{{.Site.BaseURL}}/album/">Gallery</a></li>
                    </ul>
                </div>
            </nav>

            <div class="parallax">
                {{if .Site.Params.headerCover}}
                <img src="{{.Site.BaseURL}}/{{.Site.Params.headerCover}}">
                {{else}}
                <img src="{{.Site.BaseURL}}/images/default.png">
                {{end}}
            </div>
        </div>
