<div class="row">
  <div class="col s3 m1">
  {{if .HasPrev}}
    <a class="btn-floating btn-large waves-effect waves-light blue-grey darken-3" href="{{ .Prev.URL }}"><i class="material-icons">skip_previous</i></a>
  {{else}}
    <a class="btn-floating btn-large disabled grey lighten-1"><i class="material-icons">skip_previous</i></a>
  {{end}}
  </div>
  <div class="col s6 m10 center">&nbsp</div>
  <div class="col s3 m1">
  {{if .HasNext}}
    <a class="btn-floating btn-large waves-effect waves-light blue-grey darken-3" href="{{ .Next.URL }}"><i class="material-icons">skip_next</i></a>
  {{else}}
    <a class="btn-floating btn-large disabled grey lighten-1"><i class="material-icons">skip_next</i></a>
  {{end}}
  </div>
</div>
