{{ partial "header.html" . }} {{ $baseurl := .Site.BaseURL }}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="card-panel grey darken-2 z-depth-3">
                    <!-- {{ partial "breadcrumbs" . }} -->
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <!-- <div class="addthis_sharing_toolbox"></div> -->
                    <div>
                        <script>
                            (function() {
                                var cx = '011573566236403611690:lsrcbc-89ks';
                                var gcse = document.createElement('script');
                                gcse.type = 'text/javascript';
                                gcse.async = true;
                                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                    '//cse.google.com/cse.js?cx=' + cx;
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(gcse, s);
                            })();
                        </script>
                        <gcse:searchresults-only></gcse:searchresults-only>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s3 m1">
                <a class="btn-floating btn-large disabled grey lighten-1"><i class="material-icons">skip_previous</i></a>
            </div>
            <div class="col s6 m10 center">&nbsp</div>
            <div class="col s3 m1">
                <a class="btn-floating btn-large disabled grey lighten-1"><i class="material-icons">skip_next</i></a>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
