{{ $dir := .Get "dir" }}
{{$n:=0}}
<!--  <div class="row"> -->
<div id="nanoGallery">
</div>
<script type="text/javascript">
  $(document).ready(function () {//refer to nanoGallery API for more options
    $("#nanoGallery").nanoGallery({
        thumbnailWidth:'auto',
        thumbnailHeight:'300',
        colorScheme: 'dark',
        thumbnailHoverEffect: [{ name: 'labelAppear75', duration: 300 },{name:'imageScaleIn80', duration:300}],
        theme: 'light',
        thumbnailGutterWidth : 0,
        thumbnailGutterHeight : 0,
        i18n: { thumbnailImageDescription: 'View Photo', thumbnailAlbumDescription: 'Open Album' },
        thumbnailLabel: { display: true, position: 'overImageOnMiddle', align: 'center' },
        items: [
                {{ $files := readDir $dir }}
                {{ range $index,$file:=$files }}
                    {{if and (not (in $file.Name "thumbnail")) (not (in $file.Name "resize"))}}
                {
                        src: '{{$file.Name}}',
                        srct: 'thumbnail/{{$file.Name}}',
                        title: '{{$file.Name}}',
                        description : ''
                }
                        {{if lt $index (add (len $files) -1)}}
                ,
                        {{end}}
                    {{end}}
                {{end}}
        ]
    });
  });
</script>
