{{ $dir := .Get "dir" }}
{{$n:=0}}
<!--  <div class="row"> -->
<div class="slider">
    <ul class="slides">
    {{ $files := readDir $dir }}
    {{ range $index,$file:=$files }}
        {{if and (not (in $file.Name "thumbnail")) (not (in $file.Name "resize"))}}
        <li>
        <img src="{{$file.Name}}">
        </li>
        {{ end }}
    {{ end }}
    </ul>
</div>
