<audio controls>
<source
src="{{ .Get "src" }}"
{{ $t:= .Get "type" }} {{ if or (eq $t "aac") (eq $t "m4a")}} type="audio/mp4" {{ else if eq $t "mp3" }} type="audio/mpeg" {{else}} type="audio/{{$t}}" {{end}}>
</audio>
<br>
<i>{{ with .Get "artist" }} {{.}} -{{end}}{{ with .Get "title" }} {{.}} {{end}}</i>
<br>
<br>
