<!-- put whatever in $firstInPage if it is not first -->
{{with (.Get "first")}}
<link title="timeline-styles" rel="stylesheet" href="//cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
<script src="//cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
{{end}}
{{$name:= .Get "name"}}
<div id='{{$name}}' style="width: 100%; height: 600px"></div>
<script type="text/javascript">
    var additionalOptions = {
        default_bg_color: {
            r: 211,
            g: 211,
            b: 211
        },
        timenav_height: 250
    }
    timeline = new VCO.Timeline('{{$name}}',
        '{{.Get "src"}}',
        additionalOptions);
</script>
