{{with .Get "height"}}
<video width="100%" height="{{.}}" controls>
{{else}}
<video width="100%" height="auto" controls>
{{end}}
    <source src="{{ .Get "src" }}" {{ $t:= .Get "type" }} {{ if eq $t "ogg"}} type="video/ogg" {{ else if eq $t "mp4" }} type="video/mp4" {{else if eq $t "webm"}} type="video/webm" {{else}} type="video/{{$t}}" {{end}}>
</video>
<br>
