{{ partial "header.html" . }}

<div class="container">
  <div class="section">

{{ partial "album/content" . }}
{{ partial "pagination.html" .Paginator }}

  </div>
</div>

{{ partial "footer.html" . }}
